
.navlink{
    color:white;
    text-decoration:none;
}
.navlink:hover{
    color:tomato;
}

.selected_class{
    color:orange;
    border-bottom:2px solid yellow;
}

.mainMenu ul{
    list-style-type:none;
    /* margin-top:10px; */
    position:absolute;
    visibility:hidden;
}
.mainMenu ul {
    z-index:1;
}

.mainMenu ul li{
    margin-left:-32px;
    display:flex;
    justify-content:center;
    background:#0984e3;
}
.mainMenu:hover>ul li{
    visibility: visible;
   
}